body {
    font-family: Arial, sans-serif;
    background-image: url('https://media.seudinheiro.com/uploads/2023/03/dinheiro-real-capa.jpg');
    color: #333;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background-size: 100%;
    background-repeat: no-repeat;
   
}


form {
    background: #f1e5e5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(206, 10, 10, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 40px;
    color: #cdceca;
    font-weight: bold;
    
}